body {
    display: inline-flex;
    flex-flow: column wrap;
    gap: 11px;
  }
  
  .frame {
    border: solid 2px #1b6cee;
    display: flex;
    padding: 25px;
    gap: 15px;
  }
  
  .frame div {
    width: 50px;
    height: 50px;
    /*flex-basis: fit-content;*/
  }
  
  #down {
    background-color: #ca2a0e;
  }
  
  #up div {
    background-color: #1b6cee;
  }
  
  #down div {
    background-color: #8b24bb;
  }